label {
    background-color: rgba(255, 255, 255, 0.884);
    color: black;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    border-color: black;
}

input {
    background-color: rgba(255, 255, 255, 0.884);
    color: black;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    border: 1;
    border-color: black;
}

button {
    background-color: lightgrey;
    color: black;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

button-report {
    background-color: red;
}


#container {
    width: 680px;
}